<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>เนื้อหา</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/lessonAdmin.css" />
  </head>

  <body>
    <header class="header">
      <section class="flex">
        <a href="home.html" class="logo">Sexual learning</a>
        <form action="search.html" method="post" class="search-form">
          <input
            type="text"
            name="search_box"
            required
            placeholder="search courses..."
            maxlength="100"
          />
          <button type="submit" class="fas fa-search"></button>
        </form>

        <div class="icons">
          <div id="menu-btn" class="fas fa-bars"></div>
          <div id="search-btn" class="fas fa-search"></div>
          <div id="user-btn" class="fas fa-user"></div>
          <div id="toggle-btn" class="fas fa-sun"></div>
        </div>
        <div class="profile">
          <img src="/public/img/pic-1.jpg" class="image" alt="" />
          <h3 class="name">viphavanee</h3>
          <p class="role">Admin</p>
          <a href="/profile" class="btn" id="editBtn">แก้ไขโปรไฟล์</a>
          <form action="/logout" method="post" class="logout">
            <button type="submit" class="btn btn-danger" id="deleteBtn">
              Logout
            </button>
          </form>
        </div>
      </section>
    </header>

    <div class="side-bar">
      <div id="close-btn">
        <i class="fas fa-times"></i>
      </div>

      <div class="profile">
        <img src="/public/img/pic-1.jpg" class="image" alt="" />
        <h3 class="name">viphavanee</h3>
        <p class="role">admin</p>
      </div>

      <nav class="navbar">
        <a href="home.html"><i class="fas fa-home"></i><span>หน้าแรก</span></a>
        <a href="/lesson"><i class="fas fa-graduation-cap"></i><span>บทเรียน</span></a>
        <a href="/quiz"><i class="fas fa-graduation-cap"></i><span>แบบทดสอบ</span></a>
        <a href="/score"><i class="fas fa-chalkboard-user"></i><span>คะแนน</span></a>
        <a href="/theme"><i class="fas fa-question"></i><span> กระทู้</span></a>
        <a href="/news"><i class="fa-light fa-newspaper"></i><span> บทความ</span></a>
        <a href="contact.html"><i class="fas fa-headset"></i><span>contact us</span></a>
      </nav>
    </div>
    <h1 class="headL">เพิ่มบทเรียน</h1>
    <section class="form-container">
      <form
        id="createLessonForm"
        action="/lesson/createLesson"
        method="POST"
        enctype="multipart/form-data"
      >
      <p>บทที่ <span>*</span></p>
      <input type="text" name="lessonNum" class="box">
      <p>ชื่อบทเรียน <span>*</span></p>
      <input type="text" name="lessonName" class="box">
      <p>เนื้อหา<span>*</span></p>
      <textarea id="my-expressjs-tinymce-app" name="content"></textarea><br />
      <p>รูปปก<span>*</span></p>
      <input type="file" id="image" name="image" /><br /><br />
      <input type="submit" value="เพิ่มบทเรียน" name="submit" class="btn" id="createBtn">
      </form>
    </section>
    <script
      type="application/javascript"
      src="/tinymce/tinymce.min.js"
    ></script>
    <script src="/public/js/tinymceInit.js"></script>
    <script src="/public/js/script.js"></script>
    <script src="/public/js/getdata.js"></script>
  </body>
</html>
