<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/public/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
  <link rel="manifest" href="/public/site.webmanifest">
  <title>เข้าสู่ระบบ</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <link rel="stylesheet" href="/public/css/auth.css" />
</head>

<body>
  <div class="container">
    <div class="form-wrapper">
      <form action="/login/userChecked" method="POST">
        <h2>เข้าสู่ระบบ</h2>
        <div class="form-group">
          <label for="email">อีเมล</label>
          <input type="text" name="email" placeholder="กรอกอีเมล" />
        </div>
        <div class="form-group password">
          <label for="password">รหัสผ่าน</label>
          <input id="password" type="password" name="password" placeholder="กรอกรหัสผ่าน" />
          <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
        </div>
        <a href="/forget" class="forgot-password">ลืมรหัสผ่าน</a>
        <div class="form-group submit-btn">
          <input type="submit" name="submit" value="เข้าสู่ระบบ" />
        </div>
        <div class="link-container">
          <a href="#" class="noAc">ยังไม่มีบัญชีผู้ใช้งาน?</a>
          <a href="/register" class="link">ลงทะเบียน</a>
        </div>
      </form>
    </div>
    <div class="image-wrapper"></div>
  </div>

  <script src="/public/js/script.js"></script>
  <script src="/public/js/userLogin.js"></script>
  <script>
    const passwordInput = document.getElementById("password");
    const passToggleBtn = document.getElementById("pass-toggle-btn");

    passToggleBtn.addEventListener('click', () => {
      passToggleBtn.classList.toggle("fa-eye-slash");
      passwordInput.type = passwordInput.type === "password" ? "text" : "password";
    });
  </script>
</body>

</html>
