<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>home</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
   <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
<header class="header">
   <section class="flex">
      <a href="home.html" class="logo">Sexual learning</a>
      <form action="search.html" method="post" class="search-form">
         <input type="text" name="search_box" required placeholder="search courses..." maxlength="100">
         <button type="submit" class="fas fa-search"></button>
      </form>

      <div class="icons">
         <div id="menu-btn" class="fas fa-bars"></div>
         <div id="search-btn" class="fas fa-search"></div>
         <div id="user-btn" class="fas fa-user"></div>
         <div id="toggle-btn" class="fas fa-sun"></div>
      </div>
      <div class="profile">
         <img src="/public/img/pic-1.jpg" class="image" alt="">
         <h3 class="name">สมชาย ขายสี</h3>
         <p class="role">student</p>
         <a href="/" class="btn">แก้ไขโปรไฟล์</a>
         <div class="flex-btn">
            <a href="/login" class="option-btn">login</a>
            <a href="/register" class="option-btn">register</a>
         </div>
      </div>
   </section>
</header>   

<div class="side-bar">
   <div id="close-btn">
      <i class="fas fa-times"></i>
   </div>

   <div class="profile">
      <img src="/public/img/pic-1.jpg" class="image" alt="">
      <h3 class="name">shaikh anas</h3>
      <p class="role">student</p>
   </div>

   <nav class="navbar">
      <a href="home.html"><i class="fas fa-home"></i><span>หน้าหลัก</span></a>
      <a href="courses.html"><i class="fas fa-graduation-cap"></i><span>บทเรียน</span></a>
      <a href="teachers.html"><i class="fas fa-chalkboard-user"></i><span>คะแนน</span></a>
      <a href="about.html"><i class="fas fa-question"></i><span> กระทู้</span></a>
      <a href="contact.html"><i class="fas fa-headset"></i><span>contact us</span></a>
   </nav>
</div>

<section class="courses">

   <h1 class="heading">ห้องเรียน <a href="joinClass.html" class="btn-join">join class</a></h1>
   <div class="box-container">

      <a href="playlist.html" class="box">
         <div class="tutor">
            <img src="/public/img/pic-2.jpg" alt="">
            <div class="info">
               <h3>john deo</h3>
               <span>21-10-2022</span>
            </div>
         </div>
         <div class="thumb">
            <img src="/public/img/thumb-1.png" alt="">
         </div>
         <h3 class="title">บทที่ 1 โรคติดต่อทางเพศสัมพันธ์</h3>
      </a>
      
      <a href="playlist.html" class="box">
         <div class="tutor">
            <img src="/public/img/pic-2.jpg" alt="">
            <div class="info">
               <h3>john deo</h3>
               <span>21-10-2022</span>
            </div>
         </div>
         <div class="thumb">
            <img src="/public/img/thumb-1.png" alt="">
         </div>
         <h3 class="title">บทที่ 2 โรคติดต่อทางเพศสัมพันธ์</h3>
      </a>
   </div>
</section>
<script src="/public/js/script.js"></script>
</body>
</html>