@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffffff;
  padding: 0 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  gap: 50px;
}

.form-wrapper {
  padding: 25px;
  background: #fff;
  max-width: 450px;
  width: 100%;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form h2 {
  font-size: 27px;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

form label {
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
}

form input {
  height: 45px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}

form input:focus {
  border-color: #9a9a9a;
}

.password i {
  position: absolute;
  right: 10px;
  top: 42px;
  font-size: 16px;
  cursor: pointer;
  color: #939393;
}

.forgot-password {
  display: block;
  text-align: right;
  color: #1f1f1f;
  margin-bottom: 15px;
  text-decoration: none;
}

.submit-btn input {
  width: 100%;
  padding: 13px;
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 5px;
  background: #6d7fd1;
  cursor: pointer;
  transition: 0.2s ease;
}

.submit-btn input:hover {
  background: #ff497a;
  opacity: 0.5;
}

.link-container {
  display: flex;
  justify-content: center;
}

.noAc {
  color: rgb(117, 117, 117);
  text-decoration: none;
  cursor: default;
}

.link {
  color: black;
  text-decoration: none;
  margin-left: 5px;
}

.link:hover {
  color: red;
}

.image-wrapper {
  background-image: url("https://img.freepik.com/premium-vector/people-using-sexed-app-human-biology-anatomy-lesson-sex-education-mental-physical-health-contraception-female-reproductive-system-concept-vector-illustration_48369-47260.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 400px;
}

/* Responsive */
@media (max-width: 1023px) {
  
  .image-wrapper {
    display: none;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .form-wrapper {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 767px) {
  .form-wrapper {
    max-width: 100%;
  }
}
