.card-title{
    text-align: center;
}
.textSpan {
    width: 85px;
    height: 25px;
    font-size: 12px;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    color: #ffffff; 
    background-color: #f47979; 
}




